body {
    margin: 0;
    font-size: 15px;
    font-family: sans-serif;
    background-color: #d6e1ba
}

.contenedor{
margin:auto;
margin-top: 100px;
width: 60vw;
background-color: #215e61;
padding: 10px 20px;
border-radius: 15px;
}

.titulo{
text-align: center;
color: rgb(253, 253, 253);
background-color: #f07c2ee5;
border: 1px solid rgba(0, 0, 0, 0.25);
border-radius: 15px;
margin-bottom: 10px;
}

.descripcion{
color: #233D4D;
text-align: justify;
border: 1px solid rgba(0, 0, 0, 0.232);
padding: 10px 20px;
border-radius: 15px;
background-color: rgb(175, 215, 202);
font-display: inherit;
}

.subtitulo {
color: rgb(232, 231, 231);
border: 1px solid rgba(0, 0, 0, 0.19);
margin: 10px 10px;
padding-left: 10px;
border-radius: 15px;
background-color: #233D4D;
}

.contenedor_lista{
    background-color: rgb(175, 215, 202);
text-align: justify;
border: 1px solid rgba(0, 0, 0, 0.319);
border-radius: 15px;
padding-right: 15px;
margin-bottom: 10px;
}

.lista{
color: #233D4D;
}